/*
  CSS File
*/

/*
 VARIABLES
*/



/*
  PAGE / BODY
*/
body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #1D1E18;
  background-color: #CCE8CC;
}

.title{
  width: 45%;
  height: 10rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}

h1{
  display:flex;
  justify-content: center;
  margin-top: -30%;
  
}

.title img{
  height:9rem;
  margin-left: auto;
  margin-right: auto;
}

main {
  min-height: 100vh;
}

.toComplete {
  display:flex;
  flex-direction: column;
  width: 70%;
  height: 60%;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #F6EFEE;
  padding: 3%;
}

.formEntry {
  display: flex;
  color:#1D1E18;
  flex-direction: row;
  margin-bottom: 2rem;
}

.formEntry button{
  margin-left: auto;
  background-color: #E2B6CF;
  border: 2px solid #dda3c4;
  border-radius: 2px;
}

.formEntry input{
  width: 80%;
  background-color:#E2B6CF;
  border: 2px solid #dda3c4;
  border-radius: 2px;
}

ul{
  margin-top: 1.3rem;
  list-style-type: none;
}

ul li{
  display: flex;
  padding: 2%;
  border-radius: 6px;
  background-color: #E2B6CF;
  border: 2px solid #dda3c4;
  margin-top: -2.5rem;
  margin-bottom: 2rem;
}

ul :hover{
  text-decoration:line-through;
}

.buttonList {
  background-color: #E2B6CF;
  border: 2px solid #dda3c4;
  border-radius: 2px;
  margin-left: -2rem;
  width: 1.5rem;
  height: 1.5rem;
}

.buttonList:hover{
  background-color: #d97fb2;
}

.body button{
  display: flex;
  margin-left: auto;
  justify-content: space-between;
  border: 2px solid red;
}

.complete{
  background-color: #CCE8CC
}


.completed{
  display:flex;
  border: 1px solid red;
}

/*
  Screen reader text utility class
*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
